.footer {
   width: 100%;
   .flex(no-wrap, flex-start);
   height: 50%;
   background-color: @footer;

   a {
      margin: 0 20px;
   }
}


// footer {
//    width: 100%;
//    .flex(no-wrap, flex-end);
//    height: 40px;

//    a {
//       margin: 0 20px;
//    }
// }

// p {
//    color: @color;
// }