* {
   box-sizing: border-box;
}

body {
   font-family: "Roboto", monospace;
}

.mySlides {
   display: none;
}

img {
   vertical-align: middle;
}

body {
   color: white;
}

.middle-box {
   display: flex;
   flex-direction: row;
}

html {
   font-size: 62.5%;
   margin: 0 auto;
   height: 100%;
}

.lower-text {
   font-size: 12px;
}

a {
   text-decoration: none;
   font-size: 20px;
   color: white;
}

h1,
h2,
h3,
p,
a,
button {
   font-family: "Roboto", monospace;
}