
 img {
   width: 100%;
   background-size: 100%;
   position: relative;
}

.middle-box {
   position: absolute;
}


header .foodie-button {
   background-color: #E66F25;
}

.middle-box {
   .middle-flex(column, justify)
}

